{% macro contacts(contacts) %}
    {% set website = contacts.website %}
    {% set wikipedia = contacts.wikipedia %}

    <style>
    dl.contact-list div {
        margin-bottom: 0.5em;
    }
    dl.contact-list div dt {
        display: inline;
        margin-right: 0.5em;
    }
    dl.contact-list div dd {
        display: inline;
    }
    dl.contact-list div dd::before {
        content: '';
    }
    </style>
    <dl class="contact-list">
        <div>
            <dt><i class="fa-solid fa-globe"></i></dt>
            <dd><a href="{{ website }}">{{ website }}</a></dd>
        </div>
        <div>
            <dt><i class="fa-brands fa-wikipedia-w"></i></dt>
            <dd><a href="https://en.wikipedia.org/wiki/{{ wikipedia }}">{{ wikipedia }}</a></dd>
        </div>
        {% if x %}
        {% set x = contacts.x %}
        <div>
            <dt><i class="fa-brands fa-x-twitter"></i></dt>
            <dd><a href="https://x.com/{{ x }}">@{{ x }} </dd>
        </div>
        {% endif %}

        {% if facebook %}
        {% set facebook = contacts.facebook %}
        <div>
            <dt><i class="fa-brands fa-facebook"></i></dt>
            <dd><a href="https://www.facebook.com/{{ facebook }}">{{ facebook }}</a></dd>
        </div>
        {% endif %}

        {% if instagram %}
        {% set instagram = contacts.instagram %}
        <div>
            <dt><i class="fa-brands fa-instagram"></i></dt>
            <dd><a href="https://www.instagram.com/{{ instagram }}">{{ instagram }}</a></dd>
        </div>
        {% endif %}

        {% if youtube %}
        {% set youtube = contacts.youtube %}
        <div>
            <dt><i class="fa-brands fa-youtube"></i></dt>
            <dd><a href="https://www.youtube.com/{{ youtube }}">{{ youtube }}</a></dd>
        </div>
        {% endif %}
    </dl>
{% endmacro contacts %}

{% macro photo(url, alt) %}
    <style>
        div.photo-bg {
            background-color: aliceblue;
            padding: 0.75em;
            display: inline-block
        }
        div.photo-bg img {
            width: 12em;
            margin: 0em;
        }
    </style>
    <div class="photo-bg">
        <img src="{{ url }}" alt="{{ alt }}" />
    </div>
{% endmacro photo %}

{% macro link_page(page) %}
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    {% if page.description %}
     <span>, {{ page.description }}</span>
    {% endif %}
{% endmacro link_page %}

{% macro link_term(term) %}
    {% set page_path = term ~ '.md' %}
    {% set page = get_page(path = page_path) %}
    {{ macros::link_page(page=page) }}
{% endmacro link_term %}
