{% macro contacts(contacts) %}
{% set website = contacts.website %}
{% set wikipedia = contacts.wikipedia %}
{% set x = contacts.x %}
{% set facebook = contacts.facebook %}
{% set youtube = contacts.youtube %}

<style>
  div.contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2em;
      margin: 1em;
  }
  div.contacts dl div {
      margin-bottom: 0.5em;
  }
  div.contacts dl div dt {
  display: inline;
  margin-right: 0.5em;
  }
  div.contacts dl div dd {
  display: inline;
  }
  dd::before {
  content: '';
  }
</style>
<div class="contacts">
    <dl>
        <div>
            <dt><i class="fa-solid fa-globe"></i></dt>
            <dd><a href="{{ website }}">{{ website }}</a></dd>
        </div>
        <div>
            <dt><i class="fa-brands fa-wikipedia-w"></i></dt>
            <dd><a href="https://en.wikipedia.org/wiki/{{ wikipedia }}">{{ wikipedia }}</a></dd>
        </div>
    </dl>
    <dl>
        <div>
            <dt><i class="fa-brands fa-x-twitter"></i></dt>
            <dd><a href="https://x.com/{{ x }}">@{{ x }} </dd>
        </div>
        <div>
            <dt><i class="fa-brands fa-facebook"></i></dt>
            <dd><a href="https://www.facebook.com/{{ facebook }}">{{ facebook }}</a></dd>
        </div>
        {% if instagram %}
        {% set instagram = contacts.instagram %}
        <div>
            <dt><i class="fa-brands fa-instagram"></i></dt>
            <dd><a href="https://www.instagram.com/{{ instagram }}">{{ instagram }}</a></dd>
        </div>
        {% endif %}
        <div>
            <dt><i class="fa-brands fa-youtube"></i></dt>
            <dd><a href="https://www.youtube.com/{{ youtube }}">{{ youtube }}</a></dd>
        </div>
    </dl>
</div>
{% endmacro contacts %}

{% macro links(links) %}
{% if links.advised_by %}
{% set advised_by = get_page(path = links.advised_by ~ '.md') %}

<style>
  div.links {
    margin: 1em;
  }
  div.links dl div {
      display: grid;
      grid-template-columns: 1fr 5fr;
      column-gap: 1em;
  }
  dd::before {
  content: '';
  }
</style>
<div class="links">
    <dl>
        <div>
            <dt>Advised By</i></dt>
            <dd><a href="{{ get_url(path=advised_by.path) }}">{{ advised_by.title }}</a></dd>
        </div>
    </dl>
</div>
{% endif %}
{% endmacro links %}

{% macro photo(url) %}
<style>
div.photo {
    width: 200px;
    background-color: aliceblue;
    padding: 0.75em;
}
div.photo img {
    margin: 0em;
}
</style>
<div class="photo">
<img src="{{ url }}" alt="{{ page.title }}" />
</div>
{% endmacro photo %}

{% macro member(member) %}
{% set person = get_page(path = 'person/' ~ member.person ~ '.md') %}
<a href="{{ get_url(path=person.path) }}">{{ person.title }}</a>, {{ member.designation }}
{% endmacro %}