{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<script src="https://kit.fontawesome.com/ebcc86461e.js" crossorigin="anonymous"></script>

<style>
  div.maintenance {
    grid-area: maintenance;
  }
  div.photo {
    grid-area: photo;
  }

  div.title {
    grid-area: title;
  }

  div.contacts {
    grid-area: contacts;
  }

  div.links {
    grid-area: links;
  }

  div.backlinks {
    grid-area: backlinks;
  }

  main {
    display: grid;
    column-gap: 1em;
    row-gap: 0.5em;
    grid-template-areas:
      "maintenance"
      "title"
      "photo"
      "contacts"
      "links"
      "backlinks";
    margin-bottom: 1em;
  }
  @media (min-width: 40em) {
    main {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content min-content min-content 1fr auto;
      grid-template-areas:
        "maintenance maintenance"
        "photo title"
        "photo contacts"
        "photo links"
        "backlinks backlinks";
    }
  }
  .dl-single-line {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.5em;
  }
</style>
<main>
  <div class="maintenance">
    {% if page.taxonomies is containing("maintenance") %}
    <blockquote>
      <dl class="dl-single-line">
        <dt>🚧</dt>
        <dd>
          <p>
            {% if page.taxonomies.maintenance is containing("incomplete") %}
                This page is incomplete.
            {% endif %}
          </p>
          <p>
            Please consider sending a <a href="https://en.wikipedia.org/wiki/Fork_and_pull_model">PR</a> at
            <a href="{{ config.extra.source }}">{{ config.extra.source | trim_start_matches(pat="https://") }}</a>
          </p>
        </dd>
      </dl>
    </blockquote>
    {% endif %}
  </div>
  <div class="photo">
    {{ macros::photo(url=page.extra.photo, alt=page.title) }}
  </div>
  <div class="title">
    <h2>{{ page.title }}</h2>
    {% if page.description %}
        {{ page.description }}
    {% endif %}
    <hr>
  </div>
  <div class="contacts">
    {{ macros::contacts(contacts=page.extra.contacts) }}
    <hr>
  </div>
  <div class="links">
    <dl>
      {% for name, terms in page.taxonomies %}
        {% if config.extra.link.labels is containing(name) %}
          {% set label = config.extra.link.labels[name] %}
          <div class="dl-single-line">
              <dt>{{ label }} </dt>
              <dd>{{ macros::link_term(term=terms[0]) }}</dd>
          </div>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  <div class="backlinks">
    {% set this = page.path | trim_end_matches(pat="/") | trim_start_matches(pat="/") %}
    <hr>
    <dl class="backlink-list">
      {% for name, label in config.extra.backlink.labels %}
        {% set term = get_taxonomy_term(kind=name, term=this, required=false) %}
        {% if term %}
          <dt>{{ config.extra.backlink.labels[name] }}</dt>
          <dd>
            <ul>
              {% for item in term.pages %}
                <li>{{ macros::link_page(page=item) }}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</main>
{% endblock content %}

{% block updated %}
  Last updated on {{ page.updated | date(format="%d %B, %Y")}}
{% endblock updated %}