{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<script src="https://kit.fontawesome.com/ebcc86461e.js" crossorigin="anonymous"></script>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2em;
  }
</style>
<main>
  <div>
    <img src="{{ page.extra.photo }}" alt="{{ page.title }}" />
  </div>
  <div>
    <h2>{{ page.title }}</h2>
    {{ page.extra.designation }}, {{ page.extra.department }}
    <hr>
    {{ macros::contacts(contacts=page.extra.contacts) }}
  </div>
</main>

{% endblock content %}